<section>
    <header>
        <h3>
            Basket
            <button class="btn btn-danger" [hidden]="getBooks().length == 0"
                (click)="orderBooks()"
                style="float: right">
                Place order
            </button>
        </h3>
    </header>

    <table class="table table-bordered table-hover">
        <thead class="text-center">
            <tr>
                <th>ISBN</th>
                <th>Author</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let currentBook of getBooks()"
                style="transition: .75s;">
                <td>{{currentBook.isbn}}</td>
                <td>{{formatAuthors(currentBook.authors)}}</td>
                <td>{{currentBook.name}}</td>
                <td class="text-right">{{currentBook.price | currency}}</td>
                <td class="text-right">1</td>
                <td>
                    <button class="btn btn-warning"
                        (click)="removeFromBasket(currentBook)">
                        Remove
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
