<nav class="bg-light navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" data-target="#navbarContent"
        data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarContent" class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="books"
                routerLinkActive="active">
                BOOKS
            </a>
            <a class="nav-item nav-link" routerLink="basket"
                routerLinkActive="active">
                BASKET
            </a>
        </div>
    </div>
</nav>

<main class="container-fluid"><router-outlet></router-outlet></main>
